/* css box model */

/* width height border */
.class3 {
    font-family: 'Playfair Display', serif;
    font-size: small;
    color:aqua;
    width: 260px;
    height: 120px;
    background-color: rgb(10, 10, 10);
    /* border-width:5px;
    border-color:red;
    border-style:solid; */
    border: 10px inset red;
    border-left-style: double;
    border-right-style: double;
    border-top-left-radius: 20%;
    border-bottom-right-radius: 20%;
    padding: 10px;
}

img {
    border: 5px inset rgb(251, 255, 0);
    width: 120px;
    height: 170px;
    border-radius: 60%;
}

.class4 {
    border: 2px dotted grey;
    text-align: center;
}

/* padding */

button {
    padding: 3px 20px 3px 20px;
    color: rgb(254, 134, 154);
    background-color: pink;
    border: 2px solid rgb(242, 82, 178);
    border-radius: 10%;
}

/* margin */

body {
    margin: 40px;
    border: 10px double green;
    padding: 10px;
}

/* dispaly */

span {
    background-color: aqua;
    border: 2px solid yellow;

    /* ignore */
    width: 220px;
    height: 220px;
    margin: 20px;
    /* not ignored but no respect by other */
    padding: 4px;
    /* display:block; (after this every one is respected */
}

/* other unit */
/* html {
    font-size: 20px;
} */
/* h1{
    font-size:0.1rem;
} */


/* position */

/* img{
    position :static;
    top:200px;
} */

.class4 {
    position: relative;

}

.c1 {

    width: 125px;
    height: 30px;
    border: 2px solid rgb(255, 165, 0);
    color: rgb(255, 165, 0);
    background-color: rgba(2, 25, 61);
    border-radius: 5%;
    transition: all 0.1s ease-in;
}

.c1:hover {
    position: relative;
    bottom: 2px;
    width: 125px;
    height: 30px;
    border: 2px solid rgba(255, 255, 0, 0.968);
    color: rgba(255, 255, 0, 0.968);
    background-color: rgba(2, 25, 61);
    box-shadow: 4px 2px 2px rgba(255, 255, 0, 0.545);
    cursor: pointer;
}